:root {
  --violet: #7289da;
  --blue: #3161e0;
  --blue-dark: #23272a;
  --bg-grey: #f6f6f6;
  --bg-blue: #255ee9;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

/* COMMON */
body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Typography */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Layout */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 1.5rem;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 0.8rem;
}

.btn-large {
  font-size: 1.2rem;
}

.btn-dark {
  background-color: var(--blue-dark);
  color: white;
}

.btn-violet {
  background-color: var(--violet);
  color: white;
}

.buttons-wrapper .btn {
  margin: 0.5rem 1rem;
}

/* HEADER */
/* Navigation */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: var(--bg-blue);
  color: white;
}

.header-logo,
.header-actions {
  width: 20%;
}

.header-nav {
  flex-grow: 1;
  /* width: 60%; */
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header-nav li {
  margin: 0 0.5rem;
}

.header-nav a {
  text-decoration: none;
}

.header-actions {
  text-align: right;
}

/* Hero */
.hero {
  margin-top: 5rem;
  color: white;
  padding: 6rem 0;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center left;
  /* min-height: 500px;
    display: flex;
    align-items: center; */
}

.hero-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/* MAIN */
.main-section {
  padding: 2rem 0;
}

.col-small h2 {
  margin-top: 30px;
}

.bg-section {
  background-color: lightgray;
}

.row {
  display: flex;
}

.col-large {
  width: 65%;
}

.col-small {
  width: 35%;
}

.main-section .content {
  text-align: center;
}

.main-section .content img {
  width: 100%;
}

.content-text {
  width: 80%;
  margin: 0 auto;
}

.cta {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  padding-top: 20px;
  margin: 0 auto;
}

.cta h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* FOOTER */
footer {
  padding-top: 2rem;
  background-color: var(--blue-dark);
  color: white;
}

footer ul {
    list-style-type: none;
}

.footer-top {
    padding-bottom: 2rem;
}

.main-column {
  width: 30%;
}

.main-column h3 {
    color: var(--violet);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.language img {
    width: 2rem;
    vertical-align: text-top;
}

.social ul {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.menu-column {
  width: 70%;
  display: flex;
}

.footer-menu {
  width: calc(100% / 4);
}

.footer-menu h4 {
    color: var(--violet);
    margin-bottom: .5rem;
}

.footer-menu a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: .5rem;
}

.divider {
    margin: 1rem 0;
    border: 1px solid var(--violet);
}

.footer-bottom .container {
  padding: 1rem 0;
}
